<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.skiptheline" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/skiplogowhite"
        android:label="SkipTheLine"
        android:roundIcon="@drawable/skiplogowhite"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkipTheLine"
        tools:targetApi="31" >
        <activity
            android:name=".vendorActivity"
            android:exported="true" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <activity
            android:name=".checkoutPage"
            android:exported="true"></activity>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        <activity

            android:name=".LoginActivity"
            android:theme="@style/Theme.SkipTheLine.NoActionBar"
            android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>



        </activity>

        <!-- This element is required to enable Google Pay in your app. -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAi8hNJ5R7sWq2SJDw1szOoWvi41hvQ3SI" />

        <activity
            android:name=".OrderSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".HomePage"
            android:exported="true" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            


        </activity>
    </application>

</manifest>